# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Gradle
.gradle/
/gradle/
/gradlew
/gradlew.bat

# Build Output
build/
target/

# JavaScript Dependencies
node_modules/
yarn.lock
package-lock.json
